h1{
    color:blueviolet;
    font-size:40px;
    font-weight: bold;
    padding-top:40px ;
    padding-left:40px ;
    padding-right:40px ;
   
}
h2{
    color:rgb(14, 11, 17);
    font-size:30px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 40px;
}
